<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>364778587972-nir8epshv00kue5a38ptis9d0do1tv3r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.364778587972-nir8epshv00kue5a38ptis9d0do1tv3r</string>
	<key>API_KEY</key>
	<string>AIzaSyCOtGh-38jCcTY_Qp6CZ9B5hvBnn19MLSo</string>
	<key>GCM_SENDER_ID</key>
	<string>364778587972</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>in.co.goel.pratik.spendora</string>
	<key>PROJECT_ID</key>
	<string>spendora-62db6</string>
	<key>STORAGE_BUCKET</key>
	<string>spendora-62db6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:364778587972:ios:65934896e7935687c3f911</string>
</dict>
</plist>